@using DigiMedia_Template.ViewModels.CategoryViewModels
@model CategoryUpdateVM
<div class="container">
    <div class="row">

        <form method="post">

            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control" placeholder="Enter name">
                <span asp-validation-for="Name"></span>
            </div>


            <button type="submit" class="btn btn-primary">Update</button>
        </form>

    </div>

</div>
